<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand"></a>
    <a class="navbar-brand" href="#"><img src="assets/img/logo1.png" style="width:250px; "></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/maison" *ngIf="authService.isAdmin()">Gestion logement <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Terrain</a>
            <a class="dropdown-item" href="#">maison</a>
            <a class="dropdown-item" href="#">appartement</a>
            <a class="dropdown-item" href="#">Garrage</a>
            <a class="dropdown-item" href="#">Studio</a>
           
          </div>
        </li>
       
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:400px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </li>
      
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
       
       <li> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.loggedUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngIf="authService.isLoggedIn">profile</a>
          <a class="dropdown-item" (click)="onLogOut()" *ngIf="authService.isLoggedIn">logout</a>
          <a class="dropdown-item"  *ngIf="!authService.isLoggedIn" routerLink="Auth">s'inscrire/s'enregistrer</a>
          
         
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contacts">AboutUs</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  