<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
  
         <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 20px;">
        
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/maison">Maison <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/studio">Studio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/terrain">Terrain</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/garrage">Garrage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/appartement">Appartement</a>
            </li>
           
          </ul>
        </div>
      </nav>
  
    </div>
    <div class="panel-body">
  appartement works
    </div>
    <div class="panel-footer" style="text-align: center;"><button type="button" class="btn btn-primary"  >Ajouter un nouveau</button>
    </div>
</div>
  