<div class="row">
        <div class="col-12 col-md-12 col-lg-6 card" >
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6" >
                   <img src="assets/images/1/5.jpg" style="width: 100%;" id="myimage">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="assets/images/1/1.jpg" style="width: 45%;">
                   <img src="assets/images/1/2.jpg" style="width: 45%;">
                   <img src="assets/images/1/3.jpg" style="width: 45%;">
                   <img src="assets/images/1/4.jpg" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal3">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal3">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="assets/images/1/5.jpg" style="width: 100%;">
                                 </p>
                           <!--<ngbd-rating-template> </ngbd-rating-template>-->
                        </div>

                         <app-commentaire></app-commentaire>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-6 card" >
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="assets/images/1/7.jpg" style="width: 100%;">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="assets/images/1/1.jpg" style="width: 45%;">
                   <img src="assets/images/1/2.jpg" style="width: 45%;">
                   <img src="assets/images/1/3.jpg" style="width: 45%;">
                   <img src="assets/images/1/4.jpg" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal2">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal2">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="assets/images/1/7.jpg" style="width: 100%;">
                                 </p>
                        </div>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>
          </div>


          <script>
            $('#myimage').imagezoomsl({
            zoomrange: [1,12],
            zoomstart: 4,
            innerzoom: true,
            magnifierborder: 'none'
            });


                 </script>
